@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

body {
  font-family: "Spartan", sans-serif;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.app-container {
  display: flex;
}
